*{
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}

:root {
  font-family: "Archivo", sans-serif;
  --primary-text-color: #333;
  --primary-button-text-color: #ffffff;
  --background-color: #efefef;
  --box-color: #ffffff;
  --light-blue: #D3D4F5;
  --button-blue: #2426CC;
  --title-color: #011E62;
  --price-color-red: #F90035;
  --frame-grey: #757575;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}

.button {
  font-size: 14px;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  background-color: var(--button-blue);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
  color: var(--primary-button-text-color);
  cursor: pointer;
}
.cancel-button{
  background-color: transparent;
  border: none;
  color: var(--primary-text-color);
  font-size: 14px;
  cursor: pointer;
}

select {
  display: flex;
  width: 100%;
  max-width: 200px;
  height: 30px;
  border: 1px solid var(--frame-grey);
  border-radius: 5px;
  color: var(--primary-text-color);
}

fieldset{
  border: none;
  color: #5A5A5A;
  font-weight:500;
}
h2 {
  color: var(--title-color);
  font-weight:900;
  font-style: italic;
}
input{
  border-radius: 5px;
  border: 1px solid var(--frame-grey);
  height: 30px;
}

/* Header */
/* img {
  max-width: 100%;
  height: auto;
} */
.header {
  width: auto;
  background: var(--box-color);
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.logo-container, 
.search-container,
.loginUser,
.shoppingcart
{
 margin-right: 2.5rem; 
}

.search-container {
  position: relative;
  min-width: 200px;
  display: flex;
  align-items: center;
}

.search-input {
  width: 100%;
  height: 3rem;
  border-radius: 25px;
  border: var(--background-color) 3px solid;
  min-width: 600px;
  padding: 0 2rem 0 1rem;
}

.search-input::placeholder{
  font-size: 0.9rem;
}

.search-icon {
  position: absolute;
  right: 1rem; 
  top: 50%;
  transform: translateY(-50%);
  color: var(--button-blue);
}

#userBtn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer; /* Behåll gärna pekaren om du vill signalera klickbarhet */
}

.loginUser a{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--primery-text-color);
}

.loginUser img:hover{
  filter: invert(50%);
}

#login-text{
  font-size: 0.5rem;
}

.loginUser img:hover{
  filter: invert(30%);
}

.shoppingcart{
  color: var(--box-color);
  text-decoration: none;
  margin: 0.5rem;
}

.shoppingcart a:hover{
  color: var(--primary-button-text-color);           
  text-decoration: underline;
}

#btn-text{
  color: var(--box-color);
}

/* Modal */

.modal{
  position: fixed;
  top: 0;
  overflow: auto; 
}

.modalContainer{
  background: var(--box-color);
  border: var(--frame-grey) 1px solid;
  margin: 9rem auto;
  width: auto;
  border-radius: 10px;
  position: relative;
  padding: 3rem;
}

.close{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.loginForm{
  display: flex;
  flex-direction: column; 
  width: 400px; 
}

.loginForm label{
  font-weight: 300;
  margin: 0.5rem;
}

.loginForm input{
  padding: 1rem;
  font-size: 1rem;
}

.loginBtn{
  background-color: var(--button-blue);
  color: var(--primary-button-text-color);
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 10px;
  padding: 0.5rem;
  margin-top: 1rem;
}
.modalLinks{
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.forgotPassword, 
.newAccound{
  text-decoration: none;
  color: var(--primary-text-color);
  cursor: pointer;
  margin: 0.5rem;
}
.newCustomer{
  background-color: transparent;
  border: 2px solid #2e53f6;
  color: #2e53f6;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 10px;
}
.forgotPassword:hover, 
.newAccound:hover, 
.newCustomer:hover, 
.loginBtn:hover{
  text-decoration: underline;
}

/* Sidebar */
.wrapper{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sidebar h3{
  color: var(--frame-grey);
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.sidebar{
  background-color: var(--box-color);
  padding: 1rem;
  margin: 2rem 2rem 2rem 5rem;
  max-height: 500px;
}

.sidebar .meny{
  margin: 0.5rem;
}

.sidebar ul{
  list-style: none;
}

.sidebar li{
  margin: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--primary-text-color);
}

li a{
  text-decoration: none;
  color: var(--primary-text-color);
}

/* Main Content */
.main-content {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

/* Products */
.productPage-mainContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product-mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 1%;
}

.product-header{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.product-filterAndSortContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.productCardsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.singleProductCardContainer{
  background-color: var(--box-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.categoryContainer{
  display: flex;
  flex-direction: row;
}

.imgAndProductInfoContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 60%;
  align-items: center;
}

.productNamePriceAndButtonContainer{
  display: flex;
  flex-direction: column;
  width: 40%;
}

.productInfoContainer{
  display: flex;
  flex-direction: column;
}

.productCard{
  background-color: var(--box-color);
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0px 4px 10px #0000001a;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
}

.linkProductCard{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price{
  color: var(--price-color-red);
}

.singlePrice{
  color: var(--price-color-red);
  font-weight: 800;
  font-size: 4rem;
}

.productImg{
  width: 100%;
  height: 120px;
  object-fit: contain;
  margin-bottom: 0.5rem;
}

.singleProductImg{
  max-height: 285px;
}

.productInfoTitle-h3{
  color: var(--title-color);
}

.counterContainer{
  background-color: #E1E1E4;
  border: none;
  border-radius: 26px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.inputQuantity{
  border: none;
  background-color: transparent;
  text-align: center;
  width: 2.5rem;
  height: 1.5rem;
  color: red;
}

.plusButton, .minusButton{
  background-color: var(--button-blue);
  color: var(--primary-button-text-color);
  border: none;
  border-radius: 999px;
  width: 2.2rem;
  height: 2.2rem;
  font-size:x-large;
  cursor: pointer;
}

/* Login */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group input {
  padding: 0.5rem;
  border: 1px solid #ddd;
}

/* Footer */
footer.footer{
  width: 100%;
  background: var(--button-blue);
  padding: 0.5rem;
  position:static;
  text-align: center;
}
.footer-container {
  margin-bottom: 0px auto;
}

#footer-rights{
  color: var(--primary-button-text-color);
}

.footer-icons{
 padding: 2rem;
}


.footer-icons img:hover{
  filter: invert(30%);
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

.footer-links a:hover {
  color: var(--primary-button-text-color);           
  text-decoration: underline;
}

.footer-links a {
  text-decoration: none;
  color: var(--box-color);
}

/* Admin page*/
.admin-page-container{
  display: flex;
  width: 100%;
}
.admin-add-new-product-container{
  flex: 1;
  width: 100%;
}
.admin-menu-container {
  background-color: var(--light-blue);
  width: 250px;
  min-width: 200px;
  min-height: 100vh;
  flex-shrink: 0;
}
.admin-menulinks-container{
  display: flex;
  flex-direction: column;
}
.admin-menu-username{
  text-align: center;
}
.admin-hr{
  border: 1px solid rgb(222, 222, 255);
}
.admin-a-link-img-div{
  display: flex;
  align-items: flex-end;
  margin: 4%;
}
.admin-menu-a-link{
  margin-left: 4%;
  text-decoration: none;
  color: black;
}
.admin-title-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--box-color);
  height: 100px;
  width: 100%;
}
.admin-h2-add-product{
  margin-left: 3%;
}
.admin-title-buttons-container{
  margin-right: 10%;
}
.admin-product-inputfield-container{
  display: flex;
  background-color: var(--box-color);
  border-radius: 5px;
  margin: 2%;
  padding: 2%;
}
.admin-product-inputs{
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  gap: 3%;
  width: 40%;
  color: var(--primary-text-color);
}
.price-stock-container{
  display: flex;
  gap: 15px;
}
.price-container, .stock-container{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.admin-img-input{
  border: none;
  padding: 1px;
}
.admin-save-button-container{
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
}
.products-list-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.testar-denna{
  background-color: var(--box-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  padding: 1rem;
  width: 100%;
  max-width: 160px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px #0000001a;
}
.product-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: auto;
  width: 100%;
}
.icon-button{
  padding: 0.5rem 1rem;
}
.admin-sort-filter-div{
  display: flex;
  justify-content: space-between;
  margin: 2%;
}
.editModal{
  position: fixed;
  top: 0;
  left: 45%;
}
.editModalContainer{
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: var(--box-color);
  border: var(--frame-grey) 1px solid;
  margin: 9rem auto;
  width: auto;
  border-radius: 10px;
  position: relative;
  padding: 2rem;
  gap: 5px;
}
#save-product {
  background: #28a745;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}
